<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="https://i.imgur.com/rap2KIz.jpg" type="image/png" sizes="16x16">
    <meta charset="utf-8">
    <title>Skrrrt Shop PH - Buy Your Favorite KPOP Items Here!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\FRONTEND\CSS\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <!-- HEADER -->
    <nav>
      <div class="dropdown">
      <button class="dropbtn">☰</button>
      <div class="dropdown-content">
        <a href="Album.ejs">Album</a>
        <a href="skincare.ejs">Skincare</a>
        <a href="Food.ejs">Foods</a>
        <a href="merch.ejs">Merch</a>
      </div>
    </div>

	<input id="nav-toggle" type="checkbox">
  <div><img src="C:\Users\user\Documents\Final Project\Pictures\header\skrrrt.jpg" id="img1" width="100" height="100"> </div>
  <div class="logo"><strong> Skrrrt SHOP PH</strong></div>
	<ul class="links">
    <!-- Search -->
    <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you looking for?">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
    <!-- Search -->
		<li><a href="login.ejs">👨‍💼Account</a></li>
		<li><a href="#projects">🛒Cart</a></li>
		<li><a href="#contact">💬Help</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>
<br> <br> <br> <br> <br> <br>
<!-- Article -->

<div class="wrapper">
   <text id="ettoret">New Release></text>
   <h1 id="ettore-brown">Ettore Kim - LP Album [시의 어느 멋진 날에]</h1>
   <article class="ettore">
     <p>Kim Dong-gyu, a baritone who became a friendlier and gentler man as one of Korea's most beloved sex villains in the vocal music that represents Korea as the lead singer of La Scala Theater. Kim Dong-gyu - On a wonderful day in October, kim dong-gyu, the main character of the song <I meet kim dong-gyu>'s signature album [On a Wonderful Day in The Month] LP, which always returns on a wonderful day in The Month. Kim Dong-kyu's romantic....</p>
   </article

   <a href="#"><font class="redmore"> Read More </font></a>
</div>
<div>
      <right> <img src="https://www.ktown4u.com/goods_files/SH0164/goods_images/000067/GD00066794.default.1.png" id="ettore-img1"></right>

</div>
<a class="youtube-link" href="https://youtu.be/S-JyJCVx_4Y" target="_blank">https://youtu.be/S-JyJCVx_4Y</a>
<br><br><br>
<hr>
<h1>Best Sellers></h1>

<!-- Mga Imahe lololol-->
<div class="containerimg">

    <div class="gallery">
      <a href="#"><img src="https://www.ktown4u.com/goods_files/SH0164/goods_images/000067/GD00066699.default.1.jpg" alt="Pringles Sour cream & onion 53g*1EA"></a>
            <div class="description-gallery"> <font class="blazedesc1"> <strong><h2>Pringles Sour cream & onion 53g*1EA</h2></strong> </font></div>
    </div>

    <div class="gallery">
      <a href="#"><img src="https://www.ktown4u.com/goods_files/SH0164/goods_images/000067/GD00066458.default.2.jpg" alt="CICA EMULSION"> </a>
          <div class="description-gallery"><h2><font class="blazedesc2" color=gray> VT Cosmetics</font><Br><strong class="blazedesc2">CICA EMULSION</h2></strong></div>
    </div>

    <div class="gallery">
      <a href="#"><img src="https://www.ktown4u.com/goods_files/SH0164/goods_images/000067/GD00066786.default.1.png" alt="VICTON : Do Han Se - Digital Album Vol.1 [BLAZE] (KIT)"></a>
          <div class="description-gallery"></div>
    </div>

    <div class="gallery">
          <div class="description-gallery"><font class="blazedesc3"><strong><h2> VICTON : Do Han Se - Digital Album Vol.1 [BLAZE] (KIT)<Br> CICA EMULSION</h2></strong></font>
          </div>
            <font class="blazedesc3" color=gray> Dohanse 1st Digital Album [BLAZE]<br><br> Bicton's Dohanse releases his first solo album BLAZE.<br> <br> </font>
            <font class="redmore"> Read More </font><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div class="gallery">
      <a href="#"><img src="https://www.ktown4u.com/goods_files/SH0164/goods_images/000067/GD00066637.default.1.jpg" alt="Supreme Gold coffee mix 270g*20T"></a>
            <div class="description-gallery"> <font class="blazedesc1"> <strong><h2>Supreme Gold coffee mix 270g*20T</h2></strong> </font></div>
    </div>

    <div class="gallery">
      <a href="#"><img src="https://www.ktown4u.com/goods_files/SH0164/goods_images/000067/GD00066575.default.1.jpg" alt="CICA EMULSION"> </a>
          <div class="description-gallery"><h2><font class="blazedesc2" color=gray> VT Cosmetics</font><Br><strong class="blazedesc2">CICA SMOOTHER</h2></strong></div>
    </div>

    <div class="gallery">
      <a href="#"><img src="https://www.ktown4u.com/goods_files/SH0164/goods_images/000067/GD00066728.default.1.png" alt="Botti - 1st Album [지금, 보티]"></a>
          <div class="description-gallery"></div>
    </div>

    <div class="gallery">
      <div class="description-gallery"><font class="blazedesc3"><strong><h2> Botti - 1st Album [지금, 보티]</h2></strong></font>
      </div>
        <font class="blazedesc3" color=gray> J. Brahms, M. Falla, E. Granados, M. Castelnuovo-Tedesco, A. Piazzolla, E. Morricone, F. Kleynjans, A. York and Kim Kwang-jin's 'Letters' up ....<br> <br> </font>
        <font class="redmore"> Read More </font><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

</div>

<footer></footer>
  </body>
</html>
